RewriteEngine On

# Make `page` directory as root directory and redirect any requested page to the `page` directory
RewriteCond %{REQUEST_URI} !^/page/ [NC]
RewriteCond %{REQUEST_URI} !^/config/ [NC]
RewriteCond %{REQUEST_URI} !^/ajax_service/ [NC]
RewriteCond %{REQUEST_URI} !^/css/ [NC]
RewriteCond %{REQUEST_URI} !^/error/ [NC]
RewriteCond %{REQUEST_URI} !^/javascript/ [NC]
RewriteRule ^(.*)$ /page/$1 [L]

# Old - same as above but not very efficient
#RewriteRule ^([^/]*)$ /page/$1 [L]
#RewriteRule ^admin/([^/]*)$ /page/admin/$1 [L]
#RewriteRule ^user/([^/]*)$ /page/user/$1 [L]

<Files "*.md">
    Require all denied
</Files>

# Remove .html extension
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^([^\.]+)$ $1.html [NC,L]     

# Remove .php extension
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

# Error pages
ErrorDocument 403 /error/403
ErrorDocument 404 /error/404
ErrorDocument 500 /error/500